.clientes {
    background: #f7f4ef;
    padding:
    clamp(80px,10vw,140px)
    0;
    overflow: hidden;
}

.clientesHeader {
    width: min(1200px, 88%);
    margin:
    0 auto
    clamp(50px,8vw,90px);
    text-align: center;
}

.subtituloClientes {

    text-align: center;

    color: #9c8155;

    font-family: "Fustat", sans-serif;

    font-size:clamp(11px,1.2vw,13px);

    font-weight: 700;

    letter-spacing: 4px;

    margin-bottom: 28px;

}

.clientesHeader h2 {
    margin: 28px 0 25px;

    color: #111;
    font-family: "Fustat", sans-serif;
    font-size:clamp(42px,6vw,68px);
    font-weight: 700;
    line-height: 1.05;
}

.clientesHeader p {
    max-width: 650px;
    margin: auto;

    color: #555;
    font-family: "Fustat", sans-serif;
    font-size:clamp(17px,2vw,20px);
    line-height: 1.7;
}

.carruselClientes {
    width: 100%;
    overflow: hidden;

    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );

    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
}

.logosTrack {
    width: max-content;
    display: flex;
    align-items: center;
    gap:clamp(35px,6vw,85px);

    animation: moverLogos 28s linear infinite;
}

.carruselClientes:hover .logosTrack {
    animation-play-state: paused;
}

.clienteLogo{

    width:clamp(130px,14vw,190px);

    height:clamp(80px,8vw,110px);

    display:flex;

    align-items:center;

    justify-content:center;

    flex-shrink:0;

    box-sizing:border-box;

}

.clienteLogo img {
    max-width: 100%;
    max-height:clamp(50px,6vw,75px);
    object-fit: contain;

    filter: grayscale(100%);
    opacity: 0.62;

    transition:
    transform .35s,
    opacity .35s,
    filter .35s;
}

.clienteLogo:hover img {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.08);
}

@keyframes moverLogos {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
@media (max-width:768px){

.clientes{

    padding:
    clamp(60px,8vw,80px)
    0;

}

.clientesHeader{

    width:90%;

    margin-bottom:clamp(35px,6vw,55px);
}


.logosTrack{

    gap:clamp(25px,5vw,45px);

}

}
