.ecosistema{

    background:#f7f4ef;

    padding:90px 0 70px;

}

/*--------------------------------*/

.ecosistemaTitulo{

    width:min(850px,90%);

    margin:0 auto 70px;

    text-align:center;

}

.ecosistemaTitulo span{

    color:#b99863;

    font-family:"Fustat",sans-serif;

    letter-spacing:8px;

    font-size:18px;

}

.ecosistemaTitulo h2{

    margin-top:12px;

    font-size:90px;

    color:#171816;

    font-family:"Fustat",sans-serif;

    line-height:1;

}

.ecosistemaTitulo p{

    margin:30px auto 0;

    max-width:720px;

    color:#666;

    line-height:1.8;

    font-size:20px;

}

/*--------------------------------*/

.paneles{

    width:min(1700px,95%);

    margin:auto;

    display:flex;

    gap:18px;

    height:650px;

}

/*--------------------------------*/

.panel{

    position:relative;

    flex:1;

    overflow:hidden;

    border-radius:28px;

    transition:.7s cubic-bezier(.22,1,.36,1);

    cursor:pointer;

}

.panel:hover{

    flex:1.45;

}

/*--------------------------------*/

.panel img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:1.2s;

}

.panel:hover img{

    transform:scale(1.05);

}

/*--------------------------------*/

.overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.70),
        rgba(0,0,0,.20),
        transparent
    );

    transition:.5s;

}

.panel:hover .overlay{

    background:linear-gradient(
        to top,
        rgba(0,0,0,.82),
        rgba(0,0,0,.30),
        transparent
    );

}

/*--------------------------------*/

.contenido{

    position:absolute;

    left:38px;
    right:38px;
    bottom:25px;

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    transition:all .45s cubic-bezier(.22,1,.36,1);

}
.panel:hover .contenido{

    bottom:1cm;

}

.contenido h3{

    font-family:"Fustat",sans-serif;

    font-size:34px;

    font-weight:600;

    margin:0;

    letter-spacing:2px;

}

.contenido p{

    margin-top:14px;

    max-width:320px;

    font-family:"Fustat",sans-serif;

    font-size:16px;

    line-height:1.7;

    color:rgba(255,255,255,.88);

    opacity:0;

    max-height:0;

    overflow:hidden;

    transform:translateY(15px);

    transition:
        opacity .35s ease,
        transform .45s ease,
        max-height .45s ease;

}

.panel:hover .contenido p{

    opacity:1;

    max-height:120px;

    transform:translateY(0);

}
/*--------------------------------*/

.ecosistemaFooter{

    width:min(1600px,95%);

    margin:65px auto 0;

    display:flex;

    align-items:center;

    gap:25px;

}

.ecosistemaFooter .linea{

    flex:1;

    height:1px;

    background:#c4a678;

}

.ecosistemaFooter p{

    letter-spacing:3px;

    color:#171816;

}

.ecosistemaFooter strong{

    color:#c4a678;

}