.ecosistema{

    background:#f7f4ef;

    padding:
    clamp(70px,8vw,90px)
    0
    clamp(50px,6vw,70px);

}

/*--------------------------------*/

.ecosistemaTitulo{

    width:min(850px,90%);

    margin:
    0 auto
    clamp(45px,6vw,70px);

    text-align:center;

}

.ecosistemaTitulo span{

    color:#b99863;

    font-family:"Fustat",sans-serif;

    letter-spacing:8px;

    font-size:clamp(13px,1.8vw,18px);

}

.ecosistemaTitulo h2{

    margin-top:12px;

    font-size:clamp(46px,8vw,90px);

    color:#171816;

    font-family:"Fustat",sans-serif;

    line-height:1;

}

.ecosistemaTitulo p{

    margin:30px auto 0;

    max-width:720px;

    color:#666;

    line-height:1.8;

    font-size:clamp(17px,2vw,20px);

}

/*--------------------------------*/

.paneles{

    width:min(1700px,95%);

    margin:auto;

    display:flex;

    gap:clamp(12px,2vw,18px);

    height:clamp(420px,60vw,650px);

}

/*--------------------------------*/

.panel{

    position:relative;

    flex:1;

    overflow:hidden;

    border-radius:clamp(18px,2vw,28px);

    transition:.7s cubic-bezier(.22,1,.36,1);

    cursor:pointer;

}

.panel:hover{

    flex:1.45;

}

/*--------------------------------*/

.panel img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:1.2s;

}

.panel:hover img{

    transform:scale(1.05);

}

/*--------------------------------*/

.overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.70),
        rgba(0,0,0,.20),
        transparent
    );

    transition:.5s;

}

.panel:hover .overlay{

    background:linear-gradient(
        to top,
        rgba(0,0,0,.82),
        rgba(0,0,0,.30),
        transparent
    );

}

/*--------------------------------*/

.contenido{

    position:absolute;

    left:clamp(20px,3vw,38px);

    right:clamp(20px,3vw,38px);

    bottom:clamp(18px,2vw,25px);

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    transition:all .45s cubic-bezier(.22,1,.36,1);

}
.panel:hover .contenido{

    bottom:clamp(30px,4vw,40px);

}

.contenido h3{

    font-family:"Fustat",sans-serif;

    font-size:clamp(26px,3vw,34px);

    font-weight:600;

    margin:0;

    letter-spacing:2px;

}

.contenido p{

    margin-top:14px;

    max-width:320px;

    font-family:"Fustat",sans-serif;

    font-size:clamp(15px,1.5vw,16px);

    line-height:1.7;

    color:rgba(255,255,255,.88);

    opacity:0;

    max-height:0;

    overflow:hidden;

    transform:translateY(15px);

    transition:
        opacity .35s ease,
        transform .45s ease,
        max-height .45s ease;

}

.panel:hover .contenido p{

    opacity:1;

    max-height:120px;

    transform:translateY(0);

}
/*--------------------------------*/

.ecosistemaFooter{

    width:min(1600px,95%);

    margin:
    clamp(45px,6vw,65px)
    auto
    0;

    display:flex;

    align-items:center;

    gap:clamp(15px,3vw,25px);
}

.ecosistemaFooter .linea{

    flex:1;

    height:1px;

    background:#c4a678;

}

.ecosistemaFooter p{

    letter-spacing:3px;

    color:#171816;

}

.ecosistemaFooter strong{

    color:#c4a678;

}
@media (max-width:768px){

.ecosistema{

    padding:
    clamp(60px,8vw,80px)
    0;

}


.paneles{

    flex-direction:column;

    align-items:stretch;

    height:auto;

}

.panel{

   height:clamp(220px,40vw,260px);

}

.panel:hover{

    flex:1;

}

.contenido{

    left:clamp(18px,4vw,24px);

    right:clamp(18px,4vw,24px);

}


.contenido p{

    opacity:1;

    max-height:200px;

    transform:none;

}

}