.hero{

    position:relative;

    width:100%;

    min-height:100svh;

    min-height:100dvh;

    display:flex;

    align-items:center;

    padding:
        clamp(90px,10vw,140px)
        clamp(24px,6vw,70px);

    background-image:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("/imagenes/hero.webp");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;

}

.overlay{
    display:none;
}

.heroContenido{

    position:relative;

    z-index:2;

    max-width:760px;

    width:100%;

    color:white;

    transform:none;

}

.ubicacion{

    color:#c8b692;

    font-family:"Fustat",sans-serif;

    font-size:clamp(11px,1.3vw,13px);

    font-weight:600;

    letter-spacing:4px;

    margin-bottom:30px;

    margin-left: 15px;

}

.hero h1{

    font-family:"Fustat",sans-serif;

    font-size:clamp(44px,8vw,98px);

    line-height:.92;

    font-weight:500;

    color:white;

    margin:0;

    margin-bottom:35px;

    letter-spacing:-2px;

}

.dorado{

    color:#c8b692;

    font-weight:500;

}

.heroDescripcion{

    font-family:"Fustat",sans-serif;

    font-size:clamp(17px,2vw,22px);

    line-height:1.8;

    color:#ededed;

    max-width:510px;

    margin-bottom:45px;

}

.botones{

    display:flex;

    gap:14px;

}

.btnBlanco{

    background:white;

    color:black;

    border:none;

    padding:16px clamp(24px,3vw,38px);

    font-family:"Fustat",sans-serif;

    font-size:14px;

    font-weight:700;

    letter-spacing:1px;

    cursor:pointer;

    transition:.25s;

}

.btnBlanco:hover{

    background:#ececec;

}

.btnNegro{

    background:transparent;

    color:white;

    border:1px solid rgba(255,255,255,.35);

    padding:16px clamp(24px,3vw,38px);

    font-family:"Fustat",sans-serif;

    font-size:14px;

    font-weight:700;

    letter-spacing:1px;

    cursor:pointer;

    transition:.25s;

}

.btnNegro:hover{

    background:white;

    color:black;

}
.btnBlanco,
.btnNegro {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media (max-width:768px){

.hero{

    min-height:100dvh;

    padding:120px 24px 60px;

    align-items:center;

    justify-content:center;

    text-align:left;

    background-attachment:scroll;

}

.heroContenido{

    max-width:100%;

    transform:none;

}

.ubicacion{

    margin-left:0;

    font-size:12px;

    letter-spacing:3px;

    margin-bottom:18px;

}

.hero h1{

    font-size:clamp(38px,11vw,52px);

    overflow-wrap:anywhere;

    line-height:.95;

    letter-spacing:-1px;

    margin-bottom:22px;

}

.heroDescripcion{

    font-size:17px;

    line-height:1.6;

    max-width:100%;

    margin-bottom:35px;

}

.botones{

    flex-direction:column;

    gap:12px;

}

.btnBlanco,
.btnNegro{

    width:100%;

    padding:18px;

}

}