.nosotros{

    width:100%;

    min-height:100vh;

    display:grid;

    grid-template-columns:1fr 1fr;

    background:#f7f4ef;

    align-items:center;

    overflow:hidden;

    padding:0;

}

/*==========================
IMAGEN
==========================*/

.nosotrosImagen{

    position:relative;

    height:100%;

    overflow:hidden;

}

.nosotrosImagen img{

    width:100%;

    height:100%;

    object-fit:cover;

    object-position:12% center;

    display:block;

    transition:.8s;

}

.nosotrosImagen:hover img{

    transform:scale(1.05);

}

/*==========================
FIRMA DEL PROYECTO
==========================*/

.infoProyecto{

    position:absolute;

    right:28px;

    bottom:18px;

    color:white;

    text-align:left;

}

.lineaProyecto{

    width:55px;

    height:2px;

    background:white;

    margin-bottom:12px;

}

.infoProyecto h3{

    margin:0;

    font-family: "Fustat", sans-serif;

    font-size:22px;

    font-weight:600;

    color:white;

    line-height:1;

}

.infoProyecto p{

    margin-top:5px;

    font-family:"Fustat", sans-serif;

    font-size:10px;

    letter-spacing:2.5px;

    color:rgba(255,255,255,.80);

}

/*==========================
TEXTO
==========================*/

.nosotrosTexto{

    max-width:650px;

    margin:auto;

    padding:90px;

}

.subtitulo{

    display:flex;

    align-items:center;

    gap:16px;

    color:#2f5b45;

    font-family:"Fustat", sans-serif;

    font-size:13px;

    font-weight:700;

    letter-spacing:3px;

    margin-bottom:30px;

}

.subtitulo::before{

    content:"";

    width:45px;

    height:2px;

    background:#2f5b45;

}

.nosotrosTexto h2{

    font-family: "Fustat", sans-serif;

    font-size:72px;

    line-height:.95;

    font-weight:600;

    color:#111;

    margin-bottom:35px;

}

.nosotrosTexto h2 span{

    color:#d4c09a;

  

}

.nosotrosTexto p{

    font-family:"Fustat", sans-serif;

    font-size:22px;

    line-height:1.8;

    color:#555;

    margin-bottom:26px;

}

/*==========================
BOTÓN
==========================*/

.btnNosotros{

    margin-top:18px;

    background:#111;

    color:#fff;

    border:none;

    padding:18px 42px;

    font-family:"Fustat", sans-serif;

    font-size:14px;

    font-weight:700;

    letter-spacing:2px;

    cursor:pointer;

    transition:.35s;

}

.btnNosotros:hover{

    background:#c4a678;

    transform:translateY(-3px);

}